
#r, #g, #b {
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transition-timing-function: cubic-bezier(.17,1.15,.72,-0.14);
}



#r{
  animation-name: raudona;
}

#g{
  animation-name: zalia;
}

#b{
  animation-name: melyna;
}


@keyframes raudona {
  0%   {background-color:black; right:20%; top:29%;}
  100% {background-color:rgb(128, 0, 0, 0.5); right:20%; top:0;}
}
@keyframes melyna {
  0%   {background-color:black; left:15%; bottom:50;}
  100% {background-color:rgb(0, 0, 128, 0.5); left:0; bottom:0;}
}
@keyframes zalia {
  0%   {background-color:black; right:20%; bottom:50;}
  100% {background-color:rgb(0, 128, 0, 0.5); right:0; bottom:0;}
}
